# ===============================
# Virtual environments

# ===============================
.venv/
venv/

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# FFmpeg binaries & archives
# ===============================
ffmpeg-*/
*.zip
*.exe

# ===============================
# Media files (test inputs)
# ===============================
*.mkv
*.avi
*.mov

# ===============================
# Demuxed media outputs
# ===============================
*.aac
*.h264
*.mp3
*.wav
*.pdf
*.m4a
*.txt


# ===============================
# Media files
# ===============================
# 1. First, Ignore ALL mp4s
*.mp4


# ===============================
# Generated encryption outputs
# ===============================
encrypted_output.bin
decrypted_output.bin

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
